.button {
  border: 2px solid rgba(74, 37, 122, 0.8);
  position: relative;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: rgb(148, 87, 230);
  color: rgb(225, 195, 241);
  transition: 0.3s;
  cursor: pointer;
}

.button::before {
  display: block;
  position: absolute;
  color: #fff;
  content: attr(data-text);
  transition: 0.3s ease-in;
}

.button:hover::before {
  opacity: 0;
}

.button:hover {
  box-shadow: inset 0px -3px rgba(255, 255, 255, 1);
}

.input-container {
  margin: 15px;
}

.text-input {
  box-sizing: border-box;
  border: none;
  width: 280px;
  border-bottom: 2px solid rgb(165, 162, 162);
  font-size: 18px;
  padding: 15px 25px 5px 5px;
}

.text-input:focus,
.text-input:active {
  outline: none;
}


.text-input:focus~.label-box label,
.text-input:valid~.label-box label {
  transform: translate(-5px, -20px);
  font-size: 14px;
}

.label-box {
  position: relative;
  width: 280px;
}

.label-box::before,
.label-box::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(148, 87, 230);
  transition: 0.3s ease-in;
}

.label-box::before {
  left: 50%;
}

.label-box::after {
  right: 50%;
}

.text-input:focus~.label-box::before,
.text-input:focus~.label-box::after {
  width: 50%;
}

.label-box label {
  position: absolute;
  top: -25px;
  left: 5px;
  font-size: 18px;
  color: rgb(165, 162, 162);
  transition: 0.3s ease-in;
}

.checkbox {
  display: none;
}

.checkbox ~ label {
  position: relative;
  font-size: 18px;
  color: rgb(165, 162, 162);
  margin-left: 22px;
  cursor: pointer;
}

.checkbox ~ label::before {
  display: block;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid rgb(165, 162, 162);
  border-left: 2px solid rgb(165, 162, 162);
  content: "";
  position: absolute;
  bottom: 2px;
  left: -20px;
  transition: 0.3s ease-in;
}

.checkbox:checked ~ label::before {
  transform: rotate(-45deg) translate(2px, -6px);
  border-bottom-color: rgb(148, 87, 230);
  border-left-color: rgb(148, 87, 230);
}

.checkbox:checked ~ label {
  color: rgb(148, 87, 230);
}

.radio-group::after {
  display: block;
  content: "";
  clear: both;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group .radio-container {
  display: block;
  float: left;
  border-left: 2px solid rgb(148, 87, 230);
  padding: 2px 5px 2px 5px;
  color: rgb(225, 195, 241);
}

.radio-group label {
  font-size: 18px;
}

.radio-group  label:hover {
  color: rgb(148, 87, 230);
  cursor: pointer;
}

.radio-group input[type="radio"]:checked ~ label {
  border-bottom: 2px solid rgb(148, 87, 230);
  color: rgb(148, 87, 230);
}

.radio-group .radio-container:first-child {
  border-left: none;
  padding-left: 0px;
}

.label {
  font-size: 18px;
  color: rgb(165, 162, 162);
}